.notification-bar {
  position: fixed;
  bottom: 2rem;
  left: -100%;
  width: auto;
  padding: 1rem;
  margin: 0;
  color: #fafafa;
  font-size: 1rem;
  border-radius: 5px;
  background: #212121;
  border-sizing: border-box;
  box-shadow: 0 0 1px 1px rgba(10, 10, 11, .125);
  cursor: default;
  -webkit-transition: .5s cubic-bezier(0.89, 0.01, 0.5, 1.1);
  -moz-transition: .5s cubic-bezier(0.89, 0.01, 0.5, 1.1);
  -ms-transition: .5s cubic-bezier(0.89, 0.01, 0.5, 1.1);
  -o-transition: .5s cubic-bezier(0.89, 0.01, 0.5, 1.1);
  transition: .5s cubic-bezier(0.89, 0.01, 0.5, 1.1);
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0)
}

.notification-bar-active {
  left: 1rem;
}

.notification-bar-action {
  padding: 0.125rem;
  margin-left: 1rem;
  color: #f44336;
  font-size: .75rem;
  line-height: 1rem;
  letter-spacing: .125ex;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

.notification-bar-title {
  font-weight: 700;
  margin-right: .5rem;
}
